/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    display: block;
    margin: 0 auto 20px;
}

.signup-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-form .form-group {
    margin-bottom: 15px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form .radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.login-link a:hover {
    color: #0056b3;
}

.bgpic{
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.formseting{
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
